/**********************************************
 Global Styles
**********************************************/
:root {
  --text-color: #{$black};
  --dark-mode-black: #{$dark-mode-black};
}



body {
  font-family: $body-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  transition: background .3s ease-out;
  &.dark-mode {
    background: var(--dark-mode-black);
    h1, h2, h3, h4, h5, h6, p, a {
      color: #fff;
    }
    #dark-mode-trigger {
      path {
        fill: #fff;
      }
    }
    .bio {
      background: rgba(255, 255, 255, .03);
    }
  }
}



h1, h2, h3, h4, h5, h6 { 
  color: var(--text-color);
  font-family: $heading-font;
  opacity: .6;
}

h1 {
  font-size: $h1;
  line-height: $h1-lineheight;
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h2, h3, h4, h5, h6, p.large {
  font-size: $h2;
  line-height: $h2-lineheight;
}

p, a {
  font-size: $paragraph-size;
  line-height: $paragraph-line-height;
  opacity: .6;
  &.small {
    font-size: 14px;
    line-height: 24px;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.tinted {
  opacity: 0.3;
}

h1, h2, h3, h4, h5, h6, p, a {
  transition: color .3s ease-out;
}



.container {
  margin: 64px auto 268px 64px;
  display: inline-grid;
  grid-template-columns: repeat(4, 280px);
  grid-auto-rows: minmax(280px, auto); 
  grid-gap: 24px;
  position: relative;
}


#dark-mode-trigger {
  cursor: pointer;
  path {
    fill: var(--text-color);
    transition: fill .3s ease-out;
  }
}

.avatar {
  @include size(100%);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.education {
  grid-column: 4;
}

.bio {
  grid-column: 3 / span 2;
  background: rgba($black, .03);
  display: flex;
  align-items: flex-end;
  transition: background .3s ease-out;
  h3 {
    max-width: 80%;
  }
}

.contact {
  position: absolute;
  grid-area: 2 / 4;
  right: 0;
  a {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
  }
}

.projects {
  grid-area: 4;
  grid-column: span 2;
  & > * {
    margin-bottom: 8px;
  }
  a {
    display: block;
    @extend p.large;
    @extend .tinted;
  }
}

.employment {
  grid-area: 4;
  grid-column: span 2;
  .section:not(:last-of-type) {
    margin-bottom: 112px;
  }
  .dates {
    margin-bottom: 20px;
  }
}