// Colors
///////////////////////////////////////////////
$black: #000;
$dark-mode-black: #1E1E1E;


// Typography
///////////////////////////////////////////////
$body-font: 'Inter', sans-serif;
$heading-font: $body-font;

$text-color: $black;
$link-color: blue;

$h1: 36px; $h1-lineheight: 44px;
$h2: 24px; $h2-lineheight: 40px;

$paragraph-size: 18px;
$paragraph-line-height: 24px;


